@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Roboto+Mono:wght@500&display=swap');


body {
    margin: 25px !important;
}

* {
    font-family: 'IM Fell DW Pica', serif;
}

#greeting {
    text-align: center;
}

.difficulty {
    display: flex;
    justify-content: center;
}

.difficulty span {
    font-size: 20px;
    text-align: center;
    margin: 5px 10px;
}

.container {
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-btn {
    margin: 15px;
}

.content {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border: solid 2px black;
    border-radius: 0;
}

.playfield {
    background-color: rgba(204, 202, 202, 0.747);
    display: flex;
    flex-wrap: wrap;
    gap: 0;
}

.field {
    position: relative;
    width: 35px;
    height: 35px;
    background-color: rgb(209, 209, 209);
    border: solid 1.5px black;
}

.field:hover {
    background-color: rgba(160, 115, 115, 0.651);
    cursor: pointer;
}

.playfield-small {
    width: 245px;
    height: 245px;
}

.playfield-medium {
    width: 350px;
    height: 350px;
}

.playfield-large {
    width: 490px;
    height: 490px;
}

.mines {
    margin: 15px;
    display: flex;
    justify-content: center;
}

#mines {
    font-size: 20px;
}

.status {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#gameStatus {
    font-size: 25px;
    font-weight: 500;
}

.startover-btn {
    display: block !important;
}