/* .body {} */

.card {
    border: solid 2px black !important;
    display: inline-block !important;
}

.playfield-default {
    width: 100px;
    height: 100px;
}

.playfield-small {
    width: 225px;
    height: 225px;
}

.playfield-medium {
    width: 350px;
    height: 350px;
}

.playfield-large {
    width: 475px;
    height: 475px;
}