@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica&family=Roboto+Mono:wght@500&display=swap');


body {
    margin: 25px;
}

* {
    font-family: 'IM Fell DW Pica', serif;
}

#greeting {
    text-align: center;
}

.container {
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.size-btn {
    margin: 15px;
}

.content {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid {
    border: solid 2px black;
    display: grid;
    border-radius: 0;
}

.playfield {
    background-color: rgba(204, 202, 202, 0.747);
}

.playfield-default {
    width: 200px;
    height: 200px;
}

.playfield-small {
    width: 235px;
    height: 235px;
}

.playfield-medium {
    width: 320px;
    height: 320px;
}

.playfield-large {
    width: 505px;
    height: 505px;
}

.mines {
    margin: 15px;
    display: flex;
    justify-content: center;
}

.status {
    display: none;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

#gameStatus {
    font-size: 25px;
    font-weight: 500;
}

.startover-btn {
    display: block !important;
}